.completion-chart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.completion-chart .chart-title {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

