.grade-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #F3F4F6;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  justify-content: flex-start;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
}

.grade-table .section-title {
  font-size: 16px;
  font-weight: 900;
  color: #1e293b;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1;
  text-align: left;
}

.grade-rows {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
  justify-content: flex-start;
}

.grade-row {
  display: flex;
  flex-direction: column;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background-color: #FFFFFF;
  overflow: hidden;
}

.grade-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: #F3F4F6;
  border-bottom: 1px solid #EAEAEA;
  padding: 8px 12px;
  width: 100%;
}

.grade-label {
  font-size: 13px;
  font-weight: 500;
  color: #1F2937;
  line-height: 1;
  text-align: center;
}

.grade-values-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  background-color: #FFFFFF;
  width: 100%;
  text-align: center;
  
}

.grade-value-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 12px;
  background-color: #FFFFFF;
  border-right: 1px solid #EAEAEA;
  min-width: 100px;
  width: 100%;
}

.grade-value-cell:last-child {
  border-right: none;
}

.grade-value {
  font-size: 18px;
  font-weight: 700;
  color: #1F2937;
  line-height: 1;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


